<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>spring-boot-uplaod</title>

    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/iview/3.1.4/styles/iview.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/iview/3.1.4/iview.min.js"></script>
</head>
<body>
<div id="app">
    <Row :gutter="16" style="background: #eee; padding: 10%">
        <i-col span="12">
            <Card style="height: 300px;">
                <p slot="title">
                    <Icon type="ios-cloud-upload"></Icon>
                    本地上传
                </p>
                <div style="text-align: center;">
                    <Upload :before-upload="handleLocalUpload"
                            action="/demo/upload/local"
                            ref="localUploadRef"
                            :on-success="handleLocalSuccess"
                            :on-error="handleLocalError">
                        <i-button icon="ios-cloud-upload-outline">选择文件</i-button>
                    </Upload>
                    <i-button type="primary"
                              @click="localUpload"
                              :loading="local.loadingStatus"
                              :disabled="!local.file">
                        {{ local.loadingStatus ? '本地文件上传中' : '本地上传' }}
                    </i-button>
                </div>
                <div>
                    <div v-if="local.log.status != 0">状态: {{ local.log.messageStruct }}}</div>
                    <div v-if="local.log.status === 200">文件名: {{ local.log.fileName }}}</div>
                    <div v-if="local.log.status === 200">文件路径: {{ local.log.filePath }}}</div>
                </div>
            </Card>
        </i-col>
        <i-col span="12">
            <Card style="height: 300px;">
                <p slot="title">
                    <Icon type="md-cloud-upload"></Icon>
                    七牛云上传
                </p>
                <div style="text-align: center;">
                    <Upload :before-upload="handleYunUpload"
                            action="/demo/upload/yun"
                            ref="yunUploadRef"
                            :on-success="handleYunSuccess"
                            :on-error="handleYunError">
                        <i-button icon="ios-cloud-upload-outline">选择文件</i-button>
                    </Upload>
                    <i-button type="primary"
                              @click="yunUpload"
                              :loading="yun.loadingStatus"
                              :disabled="!yun.file">
                        {{ yun.loadingStatus ? '七牛云文件上传中' : '七牛云上传' }}
                    </i-button>
                </div>
                <div>
                    <div v-if="yun.log.status != 0">状态: {{ yun.log.messageStruct }}}</div>
                    <div v-if="yun.log.status === 200">文件名: {{ yun.log.fileName }}}</div>
                    <div v-if="yun.log.status === 200">文件路径: {{ yun.log.filePath }}}</div>
                </div>
            </Card>
        </i-col>
    </Row>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            local: {
                file: null,
                loadingStatus: false,
                log: {
                    status: 0,
                    messageStruct: '',
                    fileName: '',
                    filePath: ''
                }
            },
            yun: {
                file: null,
                loadingStatus: false,
                log: {
                    status: 0,
                    messageStruct: '',
                    fileName: '',
                    filePath: ''
                }
            }
        },
        methods: {
            handleLocalUpload(file) {
                this.local.file = file;
                return false;
            },
            localUpload() {
                this.local.loadingStatus = true;
                this.$refs.localUploadRef.post(this.local.file);
            },
            handleLocalSuccess(response) {
                this.local.file = null;
                this.local.loadingStatus = false;
                this.local.log.status = response.code;
                this.local.log.messageStruct = response.messageStruct;
                if (response.code === 200) {
                    this.$Message.success(response.messageStruct);
                    this.local.log.fileName = response.data.fileName;
                    this.local.log.filePath = response.data.filePath;
                    this.$refs.localUploadRef.clearFiles();
                } else {
                    this.$Message.error(response.messageStruct);
                }
            },
            handleLocalError() {
                this.local.file = null;
                this.local.loadingStatus = false;
                this.$Message.error('上传失败');
            },
            handleYunUpload(file) {
                this.yun.file = file;
                return false;
            },
            yunUpload() {
                this.yun.loadingStatus = true;
                this.$refs.yunUploadRef.post(this.yun.file);
            },
            handleYunSuccess(response) {
                this.yun.file = null;
                this.yun.loadingStatus = false;
                this.yun.log.status = response.code;
                this.yun.log.messageStruct = response.messageStruct;
                if (response.code === 200) {
                    this.$Message.success(response.messageStruct);
                    this.yun.log.fileName = response.data.fileName;
                    this.yun.log.filePath = response.data.filePath;
                    this.$refs.yunUploadRef.clearFile();
                } else {
                    this.$Message.error(response.messageStruct);
                }
            },
            handleYunError() {
                this.yun.file = null;
                this.yun.loadingStatus = false;
                this.$Message.error('上传失败');
            }
        }
    })
</script>
</body>
</html>